body {
  background: #170077;
  font-family: "Consolas";
  font-size: 20px;
  color:whitesmoke;
}

h1 {
  text-align: center;
}
h3 {
  text-align: center;
}
h3,h4 {
  text-shadow: 3px 3px 2px #44f;
}
b{
  text-shadow: 2px 2px 2px #44f;
}
a:link{
  color: #fff;
}
a:visited{
  color: #99f;
}
a:active{
  color: #888;
}
a:hover{
  color: white !important;
}
canvas {
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  border-right: 2px solid #aaa;
  border-bottom: 2px solid #aaa;
  margin:5px;
}
.nav {
  width: calc(100%-9px);
  top: 0px;
  left: 0px;
  background-color: #0000004f;
  padding: 6px;
  color: whitesmoke;
  display: flex;
  column-gap: 6rem;
  margin:0px;
  border: 3px solid black;
}
.con {
  margin: auto;
  width: 75%;
  border: 3px solid white;
  border-radius: 4px;
  background: #ffffff33;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px
}